<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Target2021.Properties.Settings.Target2021ConnectionString"
            connectionString="Data Source=DESKTOP-CSQ69NN;Initial Catalog=Target2021;User ID=TargetSql;Password=Vitto3110"
            providerName="System.Data.SqlClient" />
        <add name="Target2021.Properties.Settings.DBORDINIConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Dati\CopiaGalart\DBORDINI.MDB"
            providerName="System.Data.OleDb" />
        <add name="Target2021.Properties.Settings.ddtConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Dati\OriginaliGalart\dbddt.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
