<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.900.148" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.900.148" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="Syncfusion.Grid.Base" version="16.4.0.48" targetFramework="net461" />
  <package id="Syncfusion.Grid.Windows" version="16.4.0.48" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="16.4.0.48" targetFramework="net461" />
  <package id="Syncfusion.Shared.Base" version="16.4.0.48" targetFramework="net461" />
  <package id="Syncfusion.Shared.Windows" version="16.4.0.48" targetFramework="net461" />
</packages>